body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.buttonPanel {
    margin-bottom: 2ex;
}
.pagesNavPanel {
    text-align: right;
}
.checkboxList span label {
    display: inline;
    margin-left: 1em;
}
.checkboxList span {
    display: block;
    margin-bottom: 1ex;
}
#ui-datepicker-div {
    background-color: #eee;
}
#mapContainer img {
    max-width: none !important;
}
div.dropdown-menu {
    padding: 0.5em;
}
#changeWorkflowStateModal {
    width: 800px;
}
.light {
    color: #888;
}
.light a {
    color: #888;
}
.olPopup {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.olPopupContent {
    background-color: transparent !important;
}
.olPopupContent form * {
    /*font-size: 11px;*/
}
.panel {
    margin-bottom: 5ex;
}
.activityPanel h3 {
    margin-top: 0px;
    line-height: 20px;
    margin-bottom: 19px;
}
.bottomTableControl select {
    margin: 0;
}
.clickable {
    cursor: pointer;
}